doctype html
html
  head
    meta(charset='utf-8')
    title Banker
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Banker
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') Faq
        li: a(href='/contact') Contact
        li: a(href='/accounts/new') New Account
        li: a(href='/accounts') Accounts
        li: a(href='/transactions/new') New Transaction
        li: a(href='/transactions') Transactions
        li: a(href='/transfers/new') New Transfer
        li: a(href='/transfers') Transfers

    block content
